*{
	margin: 0;
	padding: 0;
}
.bgimg
{
	background-image: url('images/bgimg.jpg');
	background-attachment: fixed;
	background-size: 100% 100%;
	height: 600px;
	width: 100%;
}
.headset{
	padding-top: 250px;
	box-sizing: border-box;
}
.imgsetting{
	 border-radius: 50%;
	 height: 100px;
	 width: 100px;
}